<header class="bg-pink text-navy rounded-lg mb-16 mt:mb-24 xl:mb-64">
    <div class="flex items-center justify-between text-white p-6 lg:p-8 ">
        {% set isHomepage = entry is defined and entry.uri is defined and entry.uri == '__home__' %}

        <a href="{{ siteUrl }}" title="{{ siteName }}" class="{{ isHomepage ? 'hidden' : '' }}">
        {{ craft.vite.inline('@assets/icons/logo.svg')|attr({
            class: 'h-12 sm:h-16 lg:h-24 xl:h-28 w-auto fill-current'
        }) }}
            <span class="sr-only">{{ siteName }}</span>
        </a>

        <div class="bg-white flex items-center p-1 rounded-lg gap-1 ml-auto">
            {% if settings.call2action %}
                <a href="{{ settings.call2action.url }}" class="text-white bg-mint hover:bg-navy uppercase p-2 px-6 lg:px-10 sm:py-3 lg:py-4 rounded-lg font-semibold hidden lg:inline-flex">
                    {{ settings.call2action.label ?? settings.call2action.title }}
                </a>
            {% endif %}


        <button id="menu-toggle" class="bg-white hover:bg-pink hover:text-white p-2 inline-flex text-pink rounded-lg cursor-pointer h-full w-auto flex-grow" aria-label="Menü öffnen" aria-expanded="false" aria-controls="mobile-navigation">
            {{ craft.vite.inline('@assets/icons/menu.svg')|attr({
                class: 'h-8 sm:h-13 w-auto fill-current'
            }) }}
        </button>

        </div>
    </div>

    {% if entry.hero is defined and entry.hero %}
        {% if entry.hero is defined and entry.hero|length %}
        <div class="px-8 py-8 lg:pt-12 lg:dpb-24">
            {% for block in entry.hero.eagerly().all()  %}
                {{ block.render() }}
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}

</header>
