{% set batchNumber = (entry.gridElements.eagerly()|length / 2)|round(0, 'common') %}

<div class="container mx-auto my-12 lg:my-36 xl:my-64">
    {% if entry.headline %}
        <h2 class="text-pink md:text-center mt-24 mb-12">{{ entry.headline }}</h2>
    {% endif %}
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-start ">
        {% for row in entry.gridElements.eagerly().all()|batch(batchNumber) %}
            <div class="grid grid-cols-1 items-start gap-y-8">
            {% for block in row  %}
                <div class="bg-white rounded text-navy space-y-4 md:space-y-8 p-6 md:p-10 xl:p-12"
                data-aos="fade-up">

                    {% if block.customIcon %}
                        <div class="bg-pink text-white aspect-square w-18 h-18 md:w-20 md:h-20 xl:w-24 xl:h-24 rounded-lg inline-flex items-center justify-center">
                            {{ svg(block.customIcon.eagerly().one())|attr({ class: 'fill-current h-8 w-8 md:h-12 md:w-12 xl:h-16 xl:w-16' }) }}
                        </div>

                    {% endif %}

                    <h3 class="text-pink hyphens-auto">{{ block.headline }}</h3>
                    <div class="text-lg md:text-xl xl:text-2xl">
                        {% for chunk in block.text %}

                        {% if chunk.type== 'markup' %}
                            <div class="chunk {{ chunk.type == 'markup' }} text">
                                {{ chunk }}
                            </div>

                        {% else %}

                            {% switch chunk.entry.type.handle %}
                            {% case 'button' %}
                                {{ chunk }}
                            {% case 'image' %}
                                {{ chunk }}
                            {% default %}
                                {{ chunk.entry.render() }}
                            {% endswitch %}

                        {% endif %}

                        {% endfor %}

                    </div>
                </div>
            {% endfor %}
            </div>

        {% endfor %}

    </div>
</div>
